<div class="text-center">
  <%= render 'shared/app_title' %>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body feed" id="msg-feed">
          <%= render @messages %>
        </div>
        <div class="card-footer bg-transparent">
          <%= form_for(@message, url: message_path, remote: true) do |f| %>
            <div class="input-group">
              <%= f.text_field :body,
                  class: "form-control",
                  autofocus: true,
                  placeholder: t('ui.message'),
                  "aria-label": t('ui.message'),
                  "aria-describedby": "button-addon" %>
              <div class="input-group-append">
                <%= f.submit t('ui.send'), class: "btn btn-outline-success", id: "button-addon" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
