<!DOCTYPE html>
<html>
  <head>
    <title>Crap Chat</title>

    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container-fluid">
      <%= yield %>
      <%= render 'layouts/flash_messages' if !flash.empty? %>
    </div>
  </body>
</html>
